@using SmartCoop.Core.Devices
@using SmartCoop.Core.Sensors
@using SmartCoop.Core.Sensors.Temperature
<div class="device">

    @if (!Editing)
    {
        <div class="bold">@Item.Name</div>
    }
    @if (Item is IDoor door)
    {
        <Door Device="door" Editing="Editing"></Door>
    }

    @if (Item is ITemperature temp)
    {
        <Temperature Device="temp" Editing="Editing"></Temperature>
    }

    @if (Item is ISwitch device)
    {
        <Switch Device="device" Editing="Editing"></Switch>
    }

    @if (Item is ILevel level)
    {
        <Level Device="level" Editing="Editing"></Level>
    }

    @if (Editing)
    {
        <MatButton Raised="true" OnClick="Remove">Remove</MatButton>
    }
</div>