
<h3>@Device.Name</h3>
<div>
    Open:
    @Device.IsOpen
</div>
<div>
    Closed:
    @Device.IsClosed
</div>
<div>
    <MatButton Raised="true" OnClick="Open">Open</MatButton>
    <MatButton Raised="true" OnClick="Close">Close</MatButton>
</div>