<h3>@Device.Name</h3>
<div>Status: @(Device.On ? "On" : "Off")</div>
<div>
    <MatButton Raised="true" OnClick="TurnOn">On</MatButton>
    <MatButton Raised="true" OnClick="TurnOff">Off</MatButton>
</div>