@if (Editing)
{
    <div class="bold">Switch</div>
    <div>
        <MatTextField @bind-Value="@Device.Name" Label="Name" Required="true"></MatTextField>
        <MatTextField @bind-Value="@Device.Pin" Label="Pin Number" Required="true" Type="number" min="1" max="30"></MatTextField>
    </div>
}
else
{
    <div>Status: @(Device.On ? "On" : "Off")</div>
    <div>
        <MatButton Raised="true" OnClick="TurnOn">On</MatButton>
        <MatButton Raised="true" OnClick="TurnOff">Off</MatButton>
    </div>
}
